EXPO_PUBLIC_RC_APPLE_API_KEY=appl_BcoeElsFMAwkyIyqBZuICPoliVK
EXPO_PUBLIC_RC_GOOGLE_API_KEY=goog_xxxxxxxxxxxxxxxxxxxxxxxxx
EXPO_PUBLIC_RC_ENTITLEMENT_ID=premium
EXPO_PUBLIC_RC_OFFERING_ID=default
EXPO_PUBLIC_CONTENT_MANIFEST_URL=https://raw.githubusercontent.com/everwan/citizen-pass/main/appdata/manifest.json
EXPO_PUBLIC_CONTENT_PASSWORD=Citizen@Pass2026!
